/* Full page background */
.dashboard-container {

  background: linear-gradient(170deg, #02626ea7, #04f8f468, #02626ea7);
  font-family: "Poppins", sans-serif;
  padding: 2rem;
}

/* Card styling */
.dashboard-card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow:
    3px 3px 10px rgba(19, 1, 1, 0.6),
    0 0 10px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  animation: fadeIn 0.8s ease-in-out;
}

/* Gradient title */
.dashboard-title {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 1rem;
  background: linear-gradient(180deg, #120e03be, #ff0088, #06fdb7f4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.167);
}

/* Near due section */
.near-due-section {
  margin-top: 2rem;
}

.near-due-card {
  border: 2.5px solid #10100d;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(19, 251, 239, 0.183);

}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .dashboard-container {
    min-height: 100vh;
    width: 100%;

 background: linear-gradient(170deg, #02626ea7, #04f8f468, #02626ea7);

    font-family: "Poppins", sans-serif;

    padding: 20px;
    box-sizing: border-box;
  }

  .dashboard-card {
    width: 100%;
    max-width: 800px;

    margin: 20px auto;

    padding: 25px;

    box-sizing: border-box;
  }

  .dashboard-title {
    font-size: 2rem;
    text-align: center;
  }

  .dashboard-card p {
    font-size: 14px;
  }

  .near-due-section h3 {
    font-size: 18px;
    text-align: center;
  }

  .near-due-card {
    padding: 15px;
  }

  .near-due-card h4 {
    font-size: 16px;
  }

  .near-due-card p {
    font-size: 14px;
  }
}