/* NAVBAR */
.navbar {
display: flex;
align-items: center;
gap: 15px;

padding: 15px 25px;

background: linear-gradient(
135deg,
#0f172a,
#1e293b,
#334155
);

box-shadow: 0px 2px 3px rgba(255,255,255,0.3);
}

/* DASHBOARD & TASKS */
.nav-btn {
padding: 12px 24px;

border: none;
border-radius: 14px;

text-decoration: none;

background: #2b2f5b;
color: #ff4d7a;

font-size: 16px;
font-weight: 700;

cursor: pointer;

transition: all 0.3s ease;
}

/* NORMAL HOVER */
.nav-btn:hover {
transform: translateY(-2px);

box-shadow:
0 4px 12px rgba(0,0,0,0.3);

color: #ff5c85;
}

/* LOGOUT */
.logout-btn {
margin-left: auto;

background: #34355c;
color: #ff4d7a;

padding: 12px 28px;

border: none;
border-radius: 18px;

font-size: 16px;
font-weight: 700;

cursor: pointer;

transition: all 0.3s ease;
}

/* EXACT GLOW EFFECT */
.logout-btn:hover {
transform: scale(1.05);

box-shadow:
0 0 8px rgba(255, 77, 122, 0.8),
0 0 20px rgba(255, 77, 122, 0.7),
0 0 40px rgba(255, 77, 122, 0.6),
0 0 70px rgba(0, 162, 255, 0.35);

color: #ff5c85;
}

/* ACTIVE PAGE */
.nav-btn.active {
background: #40457c;
}

/* MOBILE */
@media (max-width: 768px) {
.navbar {
padding: 12px;
gap: 10px;
}

.nav-btn,
.logout-btn {
padding: 10px 18px;
font-size: 14px;
}
}
